@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Judera-Ring';
        font-display: fallback;
        font-weight: 400;
        src: url('/fonts/Judera-Ring.ttf');
    }

    @font-face {
        font-family: 'Aeonik';
        font-display: fallback;
        font-weight: 400;
        src: url('/fonts/Aeonik-Regular.otf');
    }
    
    @font-face {
        font-family: 'Aeonik';
        font-display: fallback;
        font-weight: 500;
        src: url('/fonts/Aeonik-Medium.otf');
    }

    @font-face {
        font-family: 'Aeonik';
        font-display: fallback;
        font-weight: 600;
        src: url('/fonts/Aeonik-Bold.otf');
    }

    html {
        background-color: theme('colors.ui.black');
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
