@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Judera-Ring';
        font-display: fallback;
        font-weight: 400;
        src: url('/fonts/Judera-Ring.ttf');
    }

    @font-face {
        font-family: 'VCR-OSD-MONO';
        font-display: fallback;
        font-weight: 400;
        src: url('/fonts/VCR-OSD-MONO.ttf');
    }
}
